html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Ako koristiš neki header i footer */
  header {
    height: 60px; /* prilagodi po potrebi */
  }
  
  footer {
    height: 60px; /* prilagodi po potrebi */
  }

/* Glavni sadržaj */
#tatamata-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
  }

/* Unutrašnji kontejner */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px #FDC840;
    width: 100%;
    max-width: 1200px;
    margin: 1em 1em;
  }

  .card {
    flex-direction: column; /* Postavljanje sadržaja u kolonu */
    align-items: center; /* Centriranje elemenata horizontalno */
    justify-content: center; /* Centriranje elemenata vertikalno */
    width: 100%;
    max-width: 1000px;
    margin: 1em 1em;
    box-shadow: 0 0 10px #0D1E49;
  }
  
  
  h1, h3 {
    color: #FDC840;
  }
  
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #0D1E49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
  }
  
  button:hover {
    background-color: #29324b;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #0D1E49;
  }

  /* Stilizovanje inputa */
.input-container {
    position: relative;
    width: 100%;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px 35px 10px 10px; /* Povećavamo desnu stranu padding-a da napravimo prostora za ikonu */
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Da padding ne utiče na širinu */
  }
  
  .clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  
  .clear-btn:hover {
    color: #FDC840; /* Osvetljava ikonu kada se pređe mišem */
  }
  
  