/* Osnovni reset i font */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Glavni kontejner koji sadrži sve */
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Glavni sadržaj (sadržaj neće preći visinu ekrana) */
#tatamata-content {
    flex: 1; /* Ovaj deo popunjava preostali prostor */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 60px; /* Ostavljamo prostor za footer */
}

/* Unutrašnji kontejner (povećana visina) */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #FDC840;
    width: 60%;
    max-width: 1000px;
    height: 500px; /* Povećana visina kontejnera */
    margin: 0 auto; /* Centriranje */
}

/* Kontejner kviza */
#quizContainer {
    width: 100%;
    max-width: 500px; /* Manja širina kviza */
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px ;
    text-align: center;
    margin: 10px auto;
}

/* Naslovi */
#quizContainer h2 {
    color: #FDC840;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Stil za opcije pitanja */
#questionContainer {
    text-align: left;
}

/* Stil za opcije odgovora */
.option {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 16px;
    color: #0D1E49;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.option input[type="radio"] {
    margin-right: 10px;
    accent-color: #FDC840;
    transform: scale(1.2);
}

/* Dugmad */
button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #0D1E49;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px 8px 0;
    transition: background-color 0.3s ease;
    width: 45%;
    max-width: 200px;
}

button:hover {
    background-color: #29324b;
}

/* Rezultat */
#resultContainer {
    margin-top: 25px;
}

#resultText {
    font-size: 18px;
    color: #0D1E49;
    font-weight: bold;
}

/* Utility klasa */
.hidden {
    display: none;
}

