/* Osnovni reset i font */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Glavni kontejner koji sadrži sve */
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}


#tatamata-content {
    flex: 1; /* Ovaj deo popunjava preostali prostor */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #FDC840;
  }
  
  .card {
    width: 18rem;
  }
  